doctype HTML5
head
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="style.css")
body
.clases-pug
  .contenedor-padre
    .container
      .contenedor-link
        ul.contenedor-ul
          li.link: a(href="#") Gmail
          li.link.link-p: a(href="#") Imágenes
          li.link.link--: a(href="#"): i.fas.fa-th

      .text-center.img-google
        img.img-fluid.img-googl(src="img/googlelogo_color_272x92dp.png", alt="")
      .contenedor-input.text-center
          i.fas.fa-search
          input(type="text")
          
          a(href="#"): img(src="img/googlemic_color_24dp.png", alt="Busqueda por voz" class="img-fluid img-microphono")

      .contenedor-bottom.text-center.col-md-12

        button.btn.btn-secundary Buscar con Google

        button.btn.btn-secundary Me siento con suerte

      .contenedor-parrafo.text-center.col-md-12

        p Ofrecido por Google en: 
          a(href="#") Quechua

  .contenedor-peru
        
    p Perú

    .link-right
  
      a.link-(href="#") Publicidad  
      a.link--(href="#") Negocios  
      a.link---(href="#") Sobre Google 
      a.link----(href="#") Como funciona la Búsqueda 

    .link-left 

      a.link-l(href="#") Privacidad 
      a.link--l(href="#") Condiciones  
      a.link---l(href="#") Preferencias 
      

 

  


  script(src="js/jquery-3.2.1.slim.min.js")
  script(src="js/popper.min.js")
  script(src="js/bootstrap.min.js")
  script(src="fontawesome/fontawesome-free-5.8.2-web/js/all.min.js")