doctype
head
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="style.css")
body
  .contenedor-padre
    .container
      .contenedor-link
        ul.contenedor-ul
          li.link: a(href="#") Gmail
          li.link.link-p: a(href="#") Imágenes

      .text-center
        img.img-fluid(src="img/googlelogo_color_272x92dp.png", alt="")




  script(src="js/jquery-3.2.1.slim.min.js")
  script(src="js/popper.min.js")
  script(src="js/bootstrap.min.js")
  script(src="fontawesome/fontawesome-free-5.8.2-web/js/all.min.js")