

.contenedor-padre{
  justify-content: center;
}

.contenedor-link{
  margin-top: 20px;
}

.contenedor-ul{
  justify-content: flex-end;
  display: flex !important;
}

.link {
  list-style: none !important;
}

.link a{
  color: rgba(0,0,0,0.87) !important;
  font-weight: 400;
  font-size: 14px;
}

.link-p{
  padding-left: 15px;
}

.fa-search{
  position:relative;
  left: 40px;
  font-size: 18px !important;
  color: rgba(210, 206, 206, 0.87);
}

.contenedor-input input{
  width: 470px;
  height: 50px;
  margin-top: 37px;
  border: 1px solid rgba(210, 206, 206, 0.87);
    border-radius: 40px;
}

.contenedor-input a{
  position: relative;
  right: 40px;
}

.img-microphono{
  width: 30px;
}

.svg-inline--fa{
  font-size: 20px ;
}

.contenedor-bottom{
  margin-top: 30px;
  letter-spacing: 10px;
}

.btn{
  color:#5F6368;
  background-color: #f2f2f2;
}

.contenedor-parrafo{
  margin-top:25px;
}

.contenedor-parrafo a{
  color: #1a0dab !important;
}

.contenedor-peru{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #e4e4e4;
}

.contenedor-peru p{
  margin-left: 20px;
  color: rgba(0,0,0,.54);
  padding: 12px 5px 5px 5px;
  height: 30px;
}

.link-right{
  margin-left: 26px;
  margin-bottom: 12px;
}

.link-right a{
  color: rgba(0,0,0,.54) !important;
  font-size: 14px;
}

.link--{
  margin-left: 10px;
}

.link---{
  margin-left: 10px;
}

.link----{
  margin-left: 10px;
}

.link-left{
  display: flex;
  justify-content: flex-end;
  
  margin-top: -35px;
  margin-bottom: 14px;
  border-top: 1px solid #e4e4e4;
}

.link-left a{
  color: rgba(0,0,0,.54) !important;
  font-size: 14px;
}

.link---l{
  margin-right: 26px;
}

.link--l{
  margin-right: 15px;
}

.link-l{
  margin-right: 15px;
}





